/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles go here */
* {
  box-sizing: border-box;
}

body {
  background: #4682b4;
}

.app {
  background: #2c3e50;
  font-family: 'Orbitron', sans-serif;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
}

.button {
  border-radius: 5px;
  display: inline-block;
  height: 80px;
  margin-bottom: 5px;
  width: 100%;
}

#b1.off {
  background: #fdd835;
}

#b1.on {
  background: #fff59d;
}

#b2.off {
  background: #b71c1c;
}

#b2.on {
  background: #e53935;
}

#b3.off {
  background: #388e3c;
}

#b3.on {
  background: #81c784;
}

#b4.off {
  background: #0d47a1;
}

#b4.on {
  background: #1e88e5;
}

.control {
  background: #ecf0f1;
  border: 5px solid #2c3e50;;
  text-align: center;
  width: 100%;
}

.control > div {
  margin: 12px auto;
}

#round {
  font-family: monospace;
  font-size: 28px;
}

button {
  background: #2c3e50;
  border: 1px solid #222;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  padding: 2px 5px;
  text-transform: uppercase;
}
button:focus {
  outline: 0;
  outline: none;
}

.logo {
  font-weight: 900;
  font-size: 22px;
}

.message {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.message > p {
  display: none;
}

small {
  font-size: 12px;
}

@media only screen and (min-width: 350px) {
  .app {
    border-radius: 50%;
    height: 322px;
    width: 322px;
  }

  .button {
    display: inline-block;
    height: 150px;
    width: 150px;
  }

  #b1 {
    border-radius: 100% 5px 0 5px;
    margin: 0 1px 2px 0;
  }
  #b2 {
    border-radius: 5px 100% 5px 0;
    margin: 0 0 2px 1px;
  }
  #b3 {
    border-radius: 5px 0 5px 100%;
    margin: 0 1px 0 0;
  }
  #b4 {
    border-radius: 0 5px 100% 5px;
    margin: 0 0 0 1px;
  }

  .control {
    border: 10px solid #333;
    border-radius: 50%;
    height: 150px;
    left: 75px;
    position: relative;
    top: -230px;
    width: 150px;
  }

  .controlButtons > div {
    display: inline-block;
  }

  .message {
    color: #fff;
    transform: translateY(-120px);
  }
}
